.InformationPanel {
    box-sizing: padding-box;
    max-width: 90%;
    margin: 1em auto;
    color: black;
}

.mui-menu-item {
    text-align: left;
}

.mui-menu-item-number {
    color: #004af2;
    margin-right: 3%;
}