.latitudeMixin(@margin-top, @margin-left) {
    position: relative;
    margin-top: @margin-top;
    margin-left: @margin-left;
}

.longitudeMixin(@margin-left) {
    position: relative;
    margin-top: 2%;
    margin-left: @margin-left;
}

.searchLocationButtonMixin(@left) {
    position: absolute;
    top: 1em;
    left: @left;
}

.GlobalSummaryPanelMixin(@width, @margin-bottom) {
    width: @width;
    margin-bottom: @margin-bottom;
}

.flex1Mixin() {
    position: relative;
    top: 1.5em;
    display: flex;
    flex: none;
    flex-direction: column;
    text-align: center;
    padding: 1px;
}

.flex2Mixin() {
    display: flex;
    flex: none;
    flex-direction: column-reverse;
}

.containerSecondaryMixin() {
    position: absolute;
    display: flex;
    flex: none;
    left: 0;
    flex-direction: column-reverse;
}

.chartContentMixin(@bottom) {
    position: absolute;
    bottom: @bottom;
    width: 100%;
    height: 100%;
}

.forecastDailyMixin() {
    position: relative;
    float: left;
}

.forecastDailyInfoMixin() {
    position: relative;
    float: left;
    left: 0;
}

/*
    Sony Xperia Z, Z1
    Samsung Galaxy S4
    Google Nexus 5
*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(0, 15%);
    }
    .longitude {
        .longitudeMixin(5%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(20%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(27.5em, 8em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(6em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

@media screen and (device-width: 640px) and (device-height: 360px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(0, 18%);
    }
    .longitude {
        .longitudeMixin(8%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(20%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(50em, 11em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(9em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

/*
    Google Nexus 4
*/
@media screen and (device-width: 384px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(0, 15%);
    }
    .longitude {
        .longitudeMixin(5%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(20%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(29.5em, 8em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(6em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

@media screen and (device-width: 640px) and (device-height: 384px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(0, 18%);
    }
    .longitude {
        .longitudeMixin(8%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(20%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(50em, 11em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(9em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

/*
    Samsung Galaxy S3
    Galaxy Nexus
*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(0, 15%);
    }
    .longitude {
        .longitudeMixin(5%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(20%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(28em, 8em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(6em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

@media screen and (device-width: 640px) and (device-height: 360px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(0, 18%);
    }
    .longitude {
        .longitudeMixin(8%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(20%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(50em, 11em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(9em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

/*
    Apple iPhone 4
*/
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(18%, 15%);
    }
    .longitude {
        .longitudeMixin(5%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(20%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(24em, 7em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(5em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

@media screen and (device-width: 480px) and (device-height: 320px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(0, 18%);
    }
    .longitude {
        .longitudeMixin(8%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(20%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(37em, 9em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(7em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

/*
    Apple iPhone 5
*/
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(18%, 15%);
    }
    .longitude {
        .longitudeMixin(5%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(20%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(24em, 7em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(5em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

@media screen and (device-width: 568px) and (device-height: 320px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(0, 18%);
    }
    .longitude {
        .longitudeMixin(8%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(10%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(43em, 10em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(8em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

/*
    Apple iPhone 6
*/
@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(0, 15%);
    }
    .longitude {
        .longitudeMixin(5%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(20%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(28em, 8em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(6em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

@media screen and (device-width: 667px) and (device-height: 375px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(0, 18%);
    }
    .longitude {
        .longitudeMixin(8%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(10%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(51em, 12em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(10em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

/*
    Apple iPhone 6 Plus
*/
@media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(0, 15%);
    }
    .longitude {
        .longitudeMixin(5%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(20%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(31em, 8em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(6em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

@media screen and (device-width: 736px) and (device-height: 414px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(2%, 18%);
    }
    .longitude {
        .longitudeMixin(8%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin(30%);
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(56em, 13em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(11em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}
