.latitudeMixin(@margin-left) {
    position: relative;
    margin-left: @margin-left;
}

.longitudeMixin(@margin-left) {
    position: relative;
    margin-top: 2%;
    margin-left: @margin-left;
}

.searchLocationButtonMixin() {
    position: absolute;
    top: 1em;
    left: 20%;
}

.GlobalSummaryPanelMixin(@width, @margin-bottom) {
    width: @width;
    margin-bottom: @margin-bottom;
}

.flex1Mixin() {
    position: relative;
    top: 1.5em;
    display: flex;
    flex: none;
    flex-direction: column;
    text-align: center;
    padding: 1px;
}

.flex2Mixin() {
    display: flex;
    flex: none;
    flex-direction: column-reverse;
}

.containerSecondaryMixin() {
    position: absolute;
    display: flex;
    flex: none;
    left: 0;
    flex-direction: column-reverse;
}

.chartContentMixin(@bottom) {
    position: absolute;
    bottom: @bottom;
    width: 100%;
    height: 100%;
}

.forecastDailyMixin() {
    position: relative;
    float: left;
}

.forecastDailyInfoMixin() {
    position: relative;
    float: left;
    left: 0;
}

/*  
    Sony Xperia Z, Z1
    Samsung Galaxy S4
    Google Nexus 5
*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(15%);
    }
    .longitude {
        .longitudeMixin(5%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin();
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(27.5em, 8em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(6em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

@media screen and (device-width: 640px) and (device-height: 360px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(18%);
    }
    .longitude {
        .longitudeMixin(8%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin();
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(50em, 11em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(9em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

/*  
    Google Nexus 4
*/
@media screen and (device-width: 384px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(15%);
    }
    .longitude {
        .longitudeMixin(5%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin();
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(29.5em, 8em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(6em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

@media screen and (device-width: 640px) and (device-height: 384px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(18%);
    }
    .longitude {
        .longitudeMixin(8%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin();
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(50em, 11em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(9em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

/*  
    Samsung Galaxy S3
    Galaxy Nexus
*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(15%);
    }
    .longitude {
        .longitudeMixin(5%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin();
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(28em, 8em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(6em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}

@media screen and (device-width: 640px) and (device-height: 360px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    html {
        overflow-x: hidden;
    }
    .latitude {
        .latitudeMixin(18%);
    }
    .longitude {
        .longitudeMixin(8%);
    }
    .searchLocationButton {
        .searchLocationButtonMixin();
    }
    .GlobalSummaryPanel {
        .GlobalSummaryPanelMixin(50em, 11em);
    }
    .flex1 {
        .flex1Mixin();
    }
    .flex2 {
        .flex2Mixin();
    }
    .containerSecondary {
        .containerSecondaryMixin();
    }
    .chartContent {
        .chartContentMixin(9em);
    }
    .forecastDaily {
        .forecastDailyMixin();
    }
    .forecastDailyInfo {
        .forecastDailyInfoMixin();
    }
}